.maindiv{
display:flex;

height:100vh;
margin:20px;
padding:20px;
font-size: large;
font-family: sans-serif;

}
.firstmainbox{
  width:30%;
  background-color:rgb(37, 99, 146);
  color:rgb(255, 255, 255);
}
.seconddiv{
 
    width:70%;
  background-color: rgb(255, 255, 255);
}
.seconddiv h2{
  color:rgb(37, 99, 146);
}
.seconddiv h3{
  color:rgb(111, 182, 236);
}
.seconddiv p{
  color: rgb(108, 165, 209);
}
.technologies ul{
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
.technicalskills ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
.technologies ul li a{
text-decoration: none;
color:darkturquoise;
font-size:25px;
}
.sqlimage{
  font-size:400px;
  font-family: sans-serif;
}
.firstdiv ul li{
  list-style: none;
  color: white;
  

}
.firstdiv ul li p{
  margin:2px;
  padding:2px;

}
/* .firstdiv img{
  margin: 2px;
  padding: 2px;
} */
.imgandp{
  margin:2px;
  padding: 2px;
  display:flex;
  align-items: center;
}
.imgandp2{
  margin: 2px;
  padding: 2px;
  display: flex;
  align-items: center;
}
.imgandp3{
  margin: 2px;
  padding: 2px;
  display: flex;
  align-items: center;
}
.imgandp1{
  margin: 2px;
  padding: 2px;
  display: flex;
align-items: center;
}
.seconddiv ul li{
  list-style: none;
}
.softskills ul li{
  list-style: none;
}