.maindiv{
display:flex;

height:100vh;
margin:20px;
padding:20px;
font-size: large;
font-family: sans-serif;

}
.firstmainbox{
  width:30%;
  background-color:rgb(37, 99, 146);
  color:rgb(255, 255, 255);
}
.seconddiv{
 
    width:70%;
  background-color: rgb(255, 255, 255);
}
.seconddiv h5{
  color:rgb(37, 99, 146);
}
.technologies ul{
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
.skills ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
.technologies ul li a{
text-decoration: none;
color:darkturquoise;
font-size:25px;
}
.sqlimage{
  font-size:400px;
  font-family: sans-serif;
}
.firstdiv ul li{
  list-style: none;
  color: white;
  

}
.firstdiv ul li a{
  color: white;

}
/* .firstdiv img{
  margin: 2px;
  padding: 2px;
} */
.imgandp{
  margin:2px;
  padding: 2px;
  display:flex;
  
}
.imgandp2{
  margin: 2px;
  padding: 2px;
  display: flex;
}
.imgandp3{
  margin: 2px;
  padding: 2px;
  display: flex;
}
.imgandp1{
  margin: 2px;
  padding: 2px;
  display: flex;

}